.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ababab;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.details {
  background-color: #fafafa;
  height: 20rem;
  width: 100%;
  border-radius: 1rem;
  h3 {
    padding-left: .2rem;
    color:rgb(41, 41, 41);
  }
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.avatar {
  border-radius: 100%;
  border-width: 2px;

}
.greeting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
  
  span{
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
   }
}
.calendar {
  height: 305px; 
}
.classList{
  padding: .5rem;
  
  tr {
    display: flex;
    align-items: center;
    td {
      padding: .5rem ;
    }
    div {
      padding-left: .8rem;
      padding-right: .8rem;
      height: 2rem;
      border-radius: 2rem;
      border-style: none;
      filter: drop-shadow(.1rem .1rem 0.1rem #ababab);
      background-color: rgb(160, 216, 174);
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  width: 8rem;
  gap: .5rem;

}

.active {
  background-color: rgb(22, 177, 60) !important;
  color: #fafafa;
}
.cancel {
  background-color: rgb(231, 166, 166)  !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input {
    padding-left: .4rem;
    height: 2rem;
    border-radius: 2rem;
    border-style: none;
    filter: drop-shadow(.1rem .1rem 0.1rem #ababab);
    
  }

}